public struct Secret {
    #if DEBUG
    public struct Debug {
        public static var accessToken = ""
    }
    #endif
    public struct GitHub {
        public static var clientId = "GITHUB_CLIENT_ID"
        public static var clientSecret = "GITHUB_CLIENT_SECRET"
    }
    
    public struct Application {
        public static var callbackURLSchema = "GITHUB_NOTIFICATION_MANAGER_URL_SCHEMA://"
    }
}


