//
//  Secret.swift
//  GitHubNotificationManager
//
//  Created by Yudai.Hirose on 2019/06/05.
//  Copyright © 2019 bannzai. All rights reserved.
//

import Foundation

internal struct Secret {
    struct GitHub {
        static var token: String = YOUR_AUTHORIZATION_TOKEN
    }
}
