public struct Secret {
    #if DEBUG
    public struct Debug {
        public static var accessToken = ""
    }
    #endif
    public struct GitHub {
        public static var clientId = ""
        public static var clientSecret = ""
    }
    
    public struct Application {
        public static var callbackURLSchema = ""
    }
}


